@import '_main.scss';

.hero-section{

    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10% 0;

    .hero-section-text{

        width: 30%;

        h1{

            font-size: 3em;

            span{

                text-decoration: underline 5px wavy var(--main-purple);
                text-underline-offset: 10px;

            }

        }

        h2{

            font-size: 1.5em;
            font-weight: 500;
            padding: 3% 0 10%;

        }

        .join-btn{

            @include set-a-link;
            @include primary-color-a-button;

        }

        .join-btn:hover{

            @include primary-hover-color-a-button;

        }

    }

}

.event-section{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    
    .event-head{

        font-size: 1.5em;
        padding: 3% 0 0 0;

    }

    @include set-event;

}