@import '_main.scss';
*{

    font-family: 'Manrope', sans-serif;

}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100vh;
    background-color: var(--white);
    
    
    .general{
        display: flex;
        background-color: var(--white);
        flex-direction: column;
        align-items: center;
        width: 30%;
        margin-top: 2%;
        filter: drop-shadow(-5px 10px 10px var(--shade-purple));
        border: 1px solid var(--black);
        border-radius: 20px;
        
        .main{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 45vh;
            text-align: left;
            
    
            .log-in{
                width: 70%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 5%;
            }
    
            .sing-up-section{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 10vh;
                text-align: center;
                border-top: 1px solid var(--black);
                a{
                    @include set-a-link;
                    font-weight: bold;
                }
                
            }
            
            //FORM
    
            .form{
                width: 70%;
                height: 30vh;
                margin-top: 5%;
                form{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    height: 25vh;
                    
                    label{
                        input{
                            border: 1px solid #000;
                            border-radius: 20px;
                            font-size: 1em;
                            padding: 0 2% 0 2%;
                        }
                    }
    
                    .form-input-text{
                        width: 100%;
                        border: 1px solid #000;
                    }
    
                    .div-button{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
    
                        .button{
                            height: 5vh;
                            width: 40%;
                            @include primary-color-a-button;
                            &:hover{
                                @include primary-hover-color-a-button;
                            }
                        }
                    }
    
                }
                
            }
    
            //FORM
    
        }

    }

}