@import './_main.scss';
@include InnerNav;
.teamDisplay {
    width: 100vw;
    height: 20vh;
    border-bottom: 1px black solid;
    display: flex;
    align-items: center;

    img {
        margin: 2%;
        border-radius: 100%;
        outline: 1px black solid;
        height: 12vh;
    }

    p {
        font-size: 1.2em;
    }

    #result {
        margin: 4%;
        font-size: 1.5em;
        font-weight: 800;
    }
}

.display {
    @include set-event;
    width: 80vw;
    display: flex;
    flex-direction: column;
    .event-container{
        margin: 2%;
        
    }
      
    
}